doctype html
html
    head
        title Please log in
    body(style="text-align: center")
        h1.
            An error occurred
        p.
            #{description}
        pre(style="text-align: left;").
            #{error}